li {
  float: left;
  border: 5px solid black;
  width: 90px;
  height: 90px;
  background: gray;
  cursor: pointer;
}

ul {
  list-style: none;
}

ul {
  width: 300px;
  margin: 30px auto;
}

li:hover {
  background: yellow;
}

.x,
.o {
  background: white;
  cursor: default;
}


.x:after {
  display: block;
  background: red;
  content: "X";
  font-size: 60px;
  line-height: 90px;

}

.o:after {
  display: block;
  background: green;
  content: "O";
  font-size: 60px;
  line-height: 90px;

}

figcaption {
  font-size: 30px;
  border: 0;
  margin: 30px;
  padding: 0;
  text-align: center;
}
