li {
  float: left;
  border: 5px solid black;
  width: 90px;
  height: 90px;
  background: gray;
  cursor: pointer
}

ul {
  list-style: none
}

ul {
  width: 300px;
  margin: 30px auto;
}

li:hover {
  background: yellow;
}

.x:after {
  background: white;
  content: "X";
  font-size: 60px;
  line-height: 80px
}

.o:after {
  background: white;
  content: "O";
  font-size: 60px;
  line-height: 80px
}
